
.landing_page{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.header{
    color: white;
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.description{
    color: white;
    background-color: #1F2937;
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.information{
    color: #1F2937;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: auto;
}

.pictures_text{
    display: flex;
    justify-content: center;
    
}

.qoute{
    color: #1F2937;
    background-color: #e5e7eb;;
    flex: auto;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
}

.qoute div{
    width: 800px;
    background-color: #e5e7eb;
}

.qoute_body{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}


.footer{
    color: white;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
  
}

.intro_text{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 250px;
    justify-content: center;
    
}

.black_office{
    width: 450px;
    height: 250px;
    margin-right: 120px;
}

.intro_text button{
    color: white;
    background-color: #3882F6;

   
}

button{
    height: 25px;
    width: 100px;
    padding: 3px 0 5px 0;
    border-radius: 5px;
}

.intro_paragraph{
    flex-basis: 0;
}

.small_picture{
    display: flex;
    flex-direction: column;
    width: 130px;
    margin: 0 20px 80px 20px;
    align-items: center;

}

.small_picture img{
    width: 120px;
    height: 120px;
    border-radius: 15%; 
    border-color:#3882F6;
    border-width: 3px;
    border-style: solid;
    
    
}

.information_text{
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.call_to_action{
    height: 100px;
    width: 800px;
    background-color: #3882F6;
    color: white;  
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.call_to_action button{
    color: white;
    background-color: #3882F6;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/*{
    border-style: solid;
    border-width: 5px;
    border-color: red;
}